<template>
    <div>
      <img src="../assets/imagenes/proyecto.png" class="img-fluid  mx-auto d-block">
      <div class="bl-listaProyectos--contenido p-3">
        <div class="row">
            <div class="col-9">
                <p class="mb-0">
                    <strong>{{PropslistProyectos.id}} - {{PropslistProyectos.title}}</strong>
                </p>
                <span class="text-danger text-black text-bold">
                    {{PropslistProyectos.precio}}
                </span>
            </div>
            <div class="col-3">
                <p class="text-p8 mb-0">
                    Cali, sur
                </p>
                <span class="text-p8 text-bold">{{ valor }}m2</span>
                <p class="mb-0">
                    <span>3 - </span> <span>3</span>
                </p>
            </div>
        </div>
      </div>
    </div>
</template>
<script>
export default {
  data () {
    return {
      listProyectos: null,
      valor: ''
    }
  },
  props: {
    PropslistProyectos: {
      type: Object,
      required: false
    }
  },
  methods: {
    selectProyecto () {
      this.$emit('selectProyecto', this.PropslistProyectos.id)
    },
    async getDolar (dia) {
      const datos = await this.$axios.$get(`https://mindicador.cl/api/dolar/${dia}`)
      console.log(datos.serie[0].valor)
      this.valor = await datos.serie[0].valor
    }
  },
  created () {
    this.getDolar('01-02-2019')
  }
}
</script>
