<template>
  <div class="">
    <b-navbar toggleable="lg" type="" variant="" class="navbar-header bg-white">
      <b-navbar-brand href="#">
        <img src="../assets/imagenes/logo.png" alt="img-fluid">
      </b-navbar-brand>
      <span class="text-red">Vivendo</span>
      <b-navbar-toggle target="nav-collapse">
        <img src="../assets/imagenes/menu.png" alt="img-fluid">
      </b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item href="#">Vivendo</b-nav-item>
        </b-navbar-nav>
        <!-- Right aligned nav items -->
      </b-collapse>
    </b-navbar>
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 px-0">
            <img src="../assets/imagenes/banner.jpg" alt="" class="img-fluid mx-auto d-block">
          </div>
        </div>
      </div>
    </section>
    <section class="bl-buscarProyectos">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="form-busqueda">
              <b-form @submit="onSubmit" v-if="show">
                <p class="text-title text-center">Encuentra tu proximo <br> proyecto de vivienda</p>
                <b-form-group
                  id="input-group-1"
                  label=""
                  label-for="input-1"
                  description="">
                  <b-form-input
                    id="input-1"
                    v-model="form.title"
                    type="text"
                    required
                    placeholder="Ciudad"
                  ></b-form-input>
                </b-form-group>
                <b-form-group id="input-group-2" label="" label-for="input-2">
                  <b-form-input
                    id="input-2"
                    v-model="form.precio"
                    required
                    placeholder="Zona"
                  ></b-form-input>
                </b-form-group>
                <div class="row">
                  <div class="col-6 pr-0">
                    <b-form-group id="input-group-2" label="" label-for="input-2">
                      <b-form-input
                        id="input-2"
                        v-model="form.id"
                        placeholder="Minimo"
                      ></b-form-input>
                    </b-form-group>
                  </div>
                  <div class="col-6 pl-0">
                    <b-form-group id="input-group-2" label="" label-for="input-2">
                      <b-form-input
                        id="input-2"
                        v-model="form.maximo"
                        placeholder="Maximo"
                      ></b-form-input>
                    </b-form-group>
                  </div>
                </div>
                <b-button type="submit" variant="danger">Buscar</b-button>
              </b-form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class=bl-proyectos>
      <div class="container">
        <div class="row">
          <div class="col-12 py-4">
            <p class="text-title text-center">No te pierdas estos proyectos <br> destacados en cali </p>
          </div>
          <div class="col-12">
            <div class="bl-listaProyectos bg-white mb-3" v-for="proyecto in listProyectos" v-bind:key="proyecto">
              <listProyecto :PropslistProyectos="proyecto" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <Logo v-show="mostrarLogo" />
  </div>
</template>

<script>
import Logo from '~/components/Logo.vue'
import listProyecto from '~/components/ListProyectos.vue'

export default {
  components: {
    Logo, listProyecto
  },
  data () {
    return {
      mostrarLogo: false,
      show: true,
      form: {
        title: '',
        precio: '',
        id: '',
        maximo: ''
      },
      listProyectos: [],
      selectedProyecto: ''
    }
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()
      alert(JSON.stringify(this.form))
    },
    async getProyectos () {
      await this.$axios.get('http://localhost:3004/posts')
        .then((res) => {
          this.listProyectos = res.data
        })
      console.log(this.listProyectos)
    },
    async createProyectos () {
      await this.$axios.$post('http://localhost:3004/posts', {
        id: '',
        title: '',
        precio: '',
        foto: '/_nuxt/assets/imagenes/proyecto.png'

      })
        .then(function (response) {
          console.log(response)
        })
        .catch(function (error) {
          console.log(error)
        })
    },
    async deletedProyecto () {
      await this.$axios.$delete('http://localhost:3004/posts')
        .then(function (response) {
          console.log(response)
        })
    },
    async updateProyectos () {
      const obj = { 'title': this.form.title, 'precio': this.form.precio, 'foto': '/_nuxt/assets/imagenes/proyecto.png' }
      console.log(obj)
      await this.$axios.$put('http://localhost:3004/posts', {
        id: '',
        title: '',
        precio: '',
        foto: '/_nuxt/assets/imagenes/proyecto.png'
      })
        .then(function (response) {
          console.log(response)
        })
        .catch(function (error) {
          console.log(error)
        })
    }
  },
  created () {
    this.getProyectos()
  }

}
</script>

<style>
  .navbar-header{
    padding:0;
  }
  .navbar-header .navbar-brand{
    padding: 0;
  }
  .form-busqueda{
    margin-top: -12rem;
    background: white;
    padding: 1rem;
  }
  .text-title{
    font-weight: bold;
    color: #3C3956;
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .text-p8{
    font-size: .7rem;
  }
  .text-bold{
    font-weight: bold;
  }
  body{
    background: #80808024;
  }
  .isActive{
    border:1px solid red;
  }
</style>
